html {
    scroll-behavior: smooth;
}

  .navbar-default {
    background-color: #807e85;
    border-color: #807e85;
  }
  .navbar-default .navbar-brand {
    color: white;
  }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: black;
  }
  .navbar-default .navbar-text {
    color: #4d4c52;
  }
  .navbar-default .navbar-nav > li > a {
    color: #fbfeff;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: black;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: black;
    background-color: #4d4c52;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #f1f9ae;
    background-color: #4d4c52;
  }
  .navbar-default .navbar-toggle {
    border-color: #4d4c52;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #4d4c52;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fbfeff;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #fbfeff;
  }
  .navbar-default .navbar-link {
    color: #fbfeff;
  }
  .navbar-default .navbar-link:hover {
    color: #f1f9ae;
  }
  
  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #fbfeff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #f1f9ae;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #f1f9ae;
      background-color: #4d4c52;
    }
  }

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #807e85;
  color: white;
  text-align: center;
}